<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Set-up
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid-buttons">
    <ion-row class="row-button-container">
      <ion-col>
        <ion-button expand="block" class="custom-button">
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
          Novedades
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="row-button-container">
      <ion-col>
        <ion-button expand="block" class="custom-button">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          Agregar al carrito
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-modelado">
    <ion-row class="row-modelado">
      <ion-col class="col-image">
        <ion-img src="/assets/images/modelado2.jpg" alt="Set-up Image" class="setup-image"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
