<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Productos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardBackground">
    <ion-button class="PersonalizarBoton">
      <ion-card-title class="PersonalizaTittle">Personaliza tu setup</ion-card-title>
    </ion-button>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="cardProducts">
          <img class="imgProducts" src="/assets/img/teclado-z11.png" alt="Teclado" />
          <ion-card-content>
            Teclado
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="cardProducts">
          <img class="imgProducts" src="/assets/img/mouse-x11.png" alt="Mouse" />
          <ion-card-content>
            Mouse
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="cardProducts">
          <img class="imgProducts" src="/assets/img/audifonos-razer.png" alt="Audífonos" />
          <ion-card-content>
            Audífonos
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="cardProducts">
          <img class="imgProducts" src="/assets/img/reloj-digital.png" alt="Reloj" />
          <ion-card-content>
            Reloj
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
