<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Productos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardBackground">
    <ion-button class="PersonalizarBoton">
      <ion-card-title class="PersonalizaTittle">Personaliza tu setup</ion-card-title>
    </ion-button>
  </ion-card>

   <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let product of products">
        <ion-nav-link router-direction="forward" [component]="modal" [componentProps]="{data: product}">
          <ion-card class="cardProducts">
            <img class="imgProducts" [src]="product.imageUrl" [alt]="product.texto" />
            <ion-card-content>
              {{ product.texto }}
            </ion-card-content>
          </ion-card>
        </ion-nav-link>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
