<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ranking de Productos mas vendidos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let datum of data">
          <ion-img [src]="datum?.imageUrl"></ion-img>
          <ion-label>{{ datum?.texto }}</ion-label>
          <ion-badge>
            <i *ngFor="let star of generateStars(datum?.rating ?? 0)" [class]="star" class="custom-star"></i>
          </ion-badge>          
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

